lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
/node_modules
/coverage
.idea
.nyc_output
npm-debug.log*
yarn-debug.log*
.eslintcache
.DS_Store
.vscode
public
scripts
src
ui
tsconfig.json
.parcel-cache